.table {
  width: 50%;
  margin: 20px auto 60px auto;
  border: 1px solid black;
}
.bikesdata {
  margin: 0;
  padding: 10px;
  width: 100%;
}
.bikesbrand, .bikesmodel, .bikesyear, .bikesprice, .bikestype, .bikeslocation {
  margin: 0;
  padding: 0;
  width: 90px;
  height: 30px;
  font-weight: bold;
}
.bikesbrand, .bikesmodel, .bikesyear {
  vertical-align: bottom middle;
}
.bikestype, .bikeslocation, .bikesyear {
  vertical-align: top middle;
}
.table table:nth-child(odd) {
  background-color: white;
}
.table table:nth-child(even) {
  background-color: lightgray;
}
.textinfo {
  margin-left: 30px;
  padding-left: 30px;
}
.image {
  height: 120px;
  width: 120px;
  padding-right: 40px;
}
.thumbnail {
  height: 120px;
  width: 120px;
  border-radius: 5px;
}
